{% extends "layout.html" %}

{% from 'discharge_form.html' import form_support_scripts, render_parameter %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/x3dom.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/x3domProtos.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/tokamakModelControl.js") }}"></script>
    <script>
        $(document).ready(function () {
            $("#control-tabs").tabs();
            $('input.choice-radio').checkboxradio();
            
             {% for subsystem in additional_subsys %}
                {% for parameter in subsystem.parameters.values() if parameter.type == 'binary' %}
                set_binary_choicesbox_from_input("{{parameter.full_id_name}}");
                $('#text-value-{{parameter.full_id_name}}').on('input', function() {
                    set_binary_choicesbox_from_input("{{parameter.full_id_name}}");
                    });
                {% endfor %}
            {% for parameter in subsystem.parameters.values() if parameter.type == 'shot_no' %}

            $('#shotno-select-{{subsystem.safe_name}}{{ parameter.name }} .dropdown-menu a').click(function () {
                $('#text-value-{{subsystem.safe_name}}{{ parameter.name }}').val($(this).data('tuning'));   
            });
        {% endfor %}
        {%- for parameter in subsystem.parameters.values() if parameter.type == 'waveform' -%}
            waveform_plots["{{parameter.full_id_name}}"] = create_wafeform_plot("{{parameter.full_id_name}}");
        {%- endfor -%}
        {% endfor %}

        $("#discharge-form").submit(function(event) {
            event.preventDefault(); // Prevent the default form submission.
        
            var formData = new FormData(this);

            $("#submit-modal").modal()

            $.ajax({
            type: "POST",
            url: "{{ url_for('discharge_request') }}", // Replace with your server endpoint URL.
            data: formData,
            processData: false, // Prevent jQuery from processing the data
            contentType: false, // Prevent jQuery from setting the content type
            success: function(response) {
                // Handle the server's response here (e.g., display a message).
                console.log(response);
                var ret = JSON.parse(response);
                var bubble = '<div id="submit-modal-feedback" class="alert alert-success"><strong>Success!</strong> Your discharge request number ' + ret.vshotno.toString() + ' was accepted. Estimated time of execution in ' + ret.minutesToDischarge.toString() + ' minutes.</div>';
                $('div#submit-modal-feedback').replaceWith(bubble);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Handle errors if the request fails.
                console.error(textStatus, errorThrown);
                var bubble = '<div id="submit-modal-feedback" class="alert alert-danger"><strong>Discharge request rejected!</strong> Your discharge request was rejected. Check your settings are valid or try again in a moment if you have connectivity issues or inform the tokamak operator if you need help.';
                    $('div#submit-modal-feedback').replaceWith(bubble);
            }
            });
                })

        })
     function set_slider_value(sl_id, value) {
         $("#slider-" + sl_id).slider("value", value);
         $("#slider-value-" + sl_id).val(value);
     }
     function setStatic3DImage(tabId) {
         $('img#static-3D')[0].src = "{{ url_for('static', filename='img/ctrlroom_intro.png') }}".replace('intro', tabId);
     }
     function tokamakViewIntro() {
         TokamakModel.setView('initial');
         TokamakModel.showTokamak();
     }
     function tokamakViewBt() {
         TokamakModel.setView('mag_field');
         TokamakModel.hideTokamak();
         ['toroidcoils', 'coilsconnection', 'magelectronses'].forEach(TokamakModel.showComponent);
     }

     function tokamakViewCd() {
         TokamakModel.setView('current_drive');
         TokamakModel.hideTokamak();
         ['stand', 'transcore', 'transcoils', 'magelectrons'].forEach(TokamakModel.showComponent);
     }
     function tokamakViewGas() {
         TokamakModel.setView('gas_stand');
         TokamakModel.hideTokamak();
         ["bigcrossN",
	        "bigcrossS",
	        "chamber",
          "smallcrossE",
          "smallcrossN",
          "smallcrossS",
          "smallcrossW",
          'airPump', 'gas_green', 'gas_red'].forEach(TokamakModel.showComponent);
     }

     function tokamakViewPreion() {
         TokamakModel.setView('preion');
         TokamakModel.hideTokamak();
         ['ring_yellow'].forEach(TokamakModel.showComponent);
     }
     function tokamakViewSubmit() {
         TokamakModel.setView('front_tokamak');
         TokamakModel.showTokamak();
     }

     function getSliderValue(slId) {
         return Number($('#slider-value-' + slId).val());
     }

     function isChecked(radioId) {
         return $('#choice-' + radioId)[0].checked
     }


    </script>

    {{ form_support_scripts() }}
{% endblock %}

{% block container_div %}<div class="container-fluid">{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form id="discharge-form" method="POST" action="{{ url_for('discharge_request') }}">
                {{ discharge_form.hidden_tag() }}
            <div id="control-tabs">
                <ol>
                    {% for key, (tab_name, _, _, _, _) in control_tabs_dict.items() %}
                    <li><a href="#control-tab-{{ key }}" id="tab-link-{{ key }}" onclick="{% if showX3DOM %}tokamakView{{ key | capitalize }}(){% else %}setStatic3DImage('{{ key }}'){% endif %}">{{ tab_name }}</a></li>
                    {% endfor %}
                    <li><a href="#control-tab-submit" id="tab-link-submit" onclick="{% if showX3DOM %}tokamakViewSubmit(){% else %}setStatic3DImage('submit'){% endif %}">Submit</a></li>
                </ol>
                {% for key, (tab_name, description, label, params, recommended_val) in control_tabs_dict.items() %}
                <div id="control-tab-{{ key }}">
                    <div height="100px">
                        <p class="lead">{{ description | safe }}
                        {% if key == 'CD' and session['access_level'] > 1 %}The electric field capacitors are discharged after a configurable delay with respect to the magnetic field capacitors.{% endif %}</p>
                    </div>
                     <img alt="Experiment schematic for {{ tab_name }}" src="{{ url_for('static', filename='img/expsetup_basic_'+ key + '.png') }}" width="100%" />
                    {% if key == 'CD' and session['access_level'] > 1 %}
                    
                    {% endif %}

            {% for parameter in params  %}
                {{ render_parameter(parameter, discharge_form, zip, false, session_shot_nums) }}    
            {%endfor%}

                    
                        <p class="lead">
                            <button class="btn btn-primary" onclick="$('#tab-link-{{ tabs[loop.index] }}').click()">Next</button>
                            {% if recommended_val %}
                            <button type="button" class="btn btn-info" onclick="set_slider_value('{{ key }}', {{ recommended_val }});{% if key == 'CD' and session['access_level'] > 1 %}set_slider_value('tcd', 0);{% endif %}">Set recommended value</button>
                            {% endif %}
                        </p>
                </div>
                {% endfor %}
                <div id="control-tab-submit">
                    <p class="lead">Write a comment describing your discharge configuration, i.e. the scientific aim of your experiment. Or just leave a friendly message.{% if session.access_level > 1 %} You can optionally also supply additional (control command line) parameters.{% endif %}</p>
                    <div class="form-group" id="comment-form">
                        {% if session.access_level > 1 %}
                         {% for subsystem in additional_subsys %}
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%- if subsystem.known and subsystem.title is not none -%}
                                    {{ subsystem.title }}
                                    {%- else -%}
                                    {{ subsystem.command }}
                                    {%- endif -%}
                                </h3>
                            </div>
                            <div class="panel-body">
                         {% for parameters_batched in subsystem.parameters.values() | batch(2) %}
                         <div class="row">
                         {% for parameter in parameters_batched %}
                         <div class="col-md-8">
                            {{ render_parameter(parameter, discharge_form, zip, false, session_shot_nums) }}
                         </div>
                         {% endfor %}
                         </div>  <!-- row -->
                         {% endfor %}
                        </div> <!-- panel body -->
                         </div>  <!-- panel -->
                         {% endfor %}
                        {% endif %}

                        {{ render_parameter(comment_field, discharge_form, zip, false, session_shot_nums) }}
                    </div>
                   
                    <p id="submit-line">Click the <span class="text-primary">Submit</span> button to send your configuration into the queue.
                        {{ discharge_form.submit(class="btn btn-primary", onclick="submitRequest()")}}
                    <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal-label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="submit-modal-label">Discharge request submitted</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="submit-modal-feedback"></div>
                                    <p>After submission you can <span class="text-primary">watch the discharge Live</span> (opens in a new tab) or go back to the <span class="text-info">Introduction tab</span> and start again. Or you can just Close this pop-up and go to specific control tabs and reconfigure the discharge and then submit another discharge request.</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('status') }}" target="_blank" class="btn btn-info" style="color: white;">Watch the discharge Live!</a> <button class="btn btn-info" data-dismiss="modal" onclick="$('#tab-link-intro').click()">Go back to Introduction</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="disabled"><a href="#">3D model rendering method:</a></li>
                <li role="presentation" class="{% if not showX3DOM %}active{% endif %}"><a href="{{ url_for('control_room', showX3DOM=False) }}">Static image (fast)</a></li>
                <li role="presentation" class="{% if showX3DOM %}active{% endif %}"><a href="{{ url_for('control_room', showX3DOM=True) }}">Interactive X3DOM (slower)</a></li>
            </ul>
{% if showX3DOM %}
<!-- inserting x3d object into html doument -->
	<!-- 3D scene -->
	<X3D id="building" width="100%" height="60%">
		<Scene DEF='x3d-scene'>
		    <Group>
				<Inline url='"{{ url_for("static", filename="modelx3d/building.x3d") }}"' nameSpaceName="building" mapDEFToID="true" onload="loading();"></Inline>
			  <!-- <Inline url='"miscellaneous/G4I1.x3d"' nameSpaceName='misc' mapDEFToID='true'></Inline> -->

			</Group>
		</Scene>
	</X3D>
	<script type="text/javascript">
		//-----------------------------------------------------------
		// Processing X3D existing prototypes for scene loading
		// X3D node: <Inline />
		// @file building.x3d
		//-----------------------------------------------------------
		function loading() {
		    var building = document.getElementById('building');
		    x3domProtos.processProtos(building);
		}
	</script>
  <!-- ending of inserting x3d object -->
  <br/>
  <script>
   function takeScreenshot() {
       var imgUrl = $('#building')[0].runtime.getScreenshot();
       var aImg = $('#download-screenshot');
       aImg[0].href = imgUrl;
       aImg.removeClass('disabled');
   }
  </script>
  <button type="button" class="btn btn-primary" onclick="takeScreenshot()">Take screenshot</button>
  <a id="download-screenshot" role="button" class="btn btn-info disabled" href="" download="screenshot_golem_ctrl_room.png">Download screenshot</a>
  {% else %}
  <img id="static-3D" src="{{ url_for('static', filename='img/ctrlroom_intro.png') }}" alt="" width="100%"/>
  {% endif %}
        </div>
    </div>
{% endblock  %}
