{% macro form_support_scripts() -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@2.2.3/dist/chartjs-plugin-dragdata.min.js"></script>

<script>

    let waveform_plots = {};

    function create_wafeform_plot(waveformName) {
        var canvasId = "plot-canvas-"+ waveformName;
        var plotting_canvas = document.getElementById(canvasId);
        var ctx = document.getElementById(canvasId).getContext('2d');


        var options = {
            type: 'scatter',
            data: {
                datasets: [
                    {
                        label: "Waveform",
                        data: [],
                        fill: false,
                        pointRadius: 5,
                        pointHitRadius: 25,
                        showLine: true
                    },
                ]
            },
            options: {
                layout: {
                    padding: {
                        left: 30,
                        right: 30,
                        top: 30,
                        bottom: 30
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        suggestedMin : -1,
                        suggestedMax: 31,
                    },
                    y: {
                        beginAtZero: true,
                        suggestedMin : -5,
                        suggestedMax: 5,
                    }
                },
                plugins: {
                    dragData: {
                        round: 0,
                        showTooltip: true,
                        dragX: true,
                        onDrag: function(e, datasetIndex, index, value) {         
                            /*     
                            // you may control the range in which datapoints are allowed to be
                            // dragged by returning `false` in this callback
                            if (value < 0) return false // this only allows positive values
                            if (datasetIndex === 0 && index === 0 && value > 20) return false 
                            */
                          },
                        onDragEnd: function(e, datasetIndex, index, value) {
                            waveform_plots[waveformName].data.datasets.forEach((dataset) => {
                                if (dataset.label == "Waveform") {
                                    dataset.data.sort(function (a, b) { return a.x - b.x })
                                    updateWaveformParam(waveformName,dataset.data);
                                }
                            });
                            waveform_plots[waveformName].update();
                        
                        },
                    },
                    zoom: {
                        pan: {
                            enabled: true,
                            mode: function () {
                                if (eventOutsideDataPoint) {
                                        return 'xy';
                                }
                                    return '';
                                }

                            },
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            mode: 'xy',
                            }
                        }
                },
                
                onClick: function (e) {
                    const canvasPosition = Chart.helpers.getRelativePosition(e, this);

                    const dataX = this.scales.x.getValueForPixel(canvasPosition.x);
                    const dataY = this.scales.y.getValueForPixel(canvasPosition.y);

                    this.data.datasets.forEach((dataset) => {
                        if (dataset.label == "Waveform") {
                            var nearestIndex = -1;
                            const minDistance = this.scales.x.getValueForPixel(canvasPosition.x + dataset.pointHitRadius) - dataX
        
                            for (var i = 0; i < dataset.data.length; i++) {
                                var point = dataset.data[i];
                                var distance = Math.sqrt((point.x - dataX) ** 2 + (point.y - dataY) ** 2);

                                if (distance <= minDistance) {
                                    nearestIndex = i;
                                    break
                                }
                            }
                            if (nearestIndex == -1) {
                                dataset.data.push({
                                    x: Math.round(dataX),
                                    y: Math.round(dataY)
                                });
                            } else {
                                dataset.data.splice(nearestIndex, 1);
                            }
                            dataset.data.sort(function (a, b) { return a.x - b.x })
                            updateWaveformParam(waveformName,dataset.data);
                        }
                    });
                    this.update('none');
                    

                    },
                },
            }
        
        var eventOutsideDataPoint = true
        var myChart = new Chart(ctx, options);
        plotting_canvas.onmousemove = function(evt) {
            var activePoints = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
            eventOutsideDataPoint = activePoints && activePoints.length ? false : true
        };
        myChart.options.animation = false; // disables all animations
        return myChart
        
    }

    function getSelectedValue(fieldName) {
        var selectedValue = "";
        var field = $("[name='" + fieldName + "']");
      
        if (field.is(":radio")) {
          selectedValue = $("input[type='radio'][name='" + fieldName + "']:checked").val();
        } else if (field.is("select")) {
          selectedValue = field.val();
        }
      
        return selectedValue;
      }

        function updateWaveform($this) {
            var parsedValue = $this.value;
            if (parsedValue == '') {
                console.log('no input');
                return
            }

            let parsedPoints = parsedValue.split(';')

            const n = parsedPoints.length;
            let points = new Array(n);

            let parsedPoints_xy;
            for (let i = 0; i < n; i++) {
                parsedPoints_xy = parsedPoints[i].split(',');
                if (parsedPoints.length >= 2) {
                    points[i] = {
                        x: Number(parsedPoints_xy[0]) / 1e3,
                        y: Number(parsedPoints_xy[1])
                    };
                }

            }
            var waveformName = $this.id.replace(/^text-value-/, '');
            waveformName = waveformName.replace(/^option-text-/, '');
            waveform_plots[waveformName].data.datasets.forEach((dataset) => {
                if (dataset.label == "Waveform") {
                    dataset.data = points;
                }
            });
            waveform_plots[waveformName].update();

            if ($this.id.startsWith('text-value-')) {
                $('#option-text-' + waveformName).val(parsedValue);
            } else {
                $('#text-value-' + waveformName).val(parsedValue);
            }
            
        }
        function updateWaveformParam(waveformName, points) {
            var pointsStr = '';
            for (i in points) {
                pointsStr += String(points[i].x * 1000) + "," + String(points[i].y);
                if (i < points.length - 1) {
                    pointsStr += ";";
                }
            }
            $('#text-value-' + waveformName).val(pointsStr);
            $('#option-text-' + waveformName).val(pointsStr);
        }
        function handleBinaryCheckbox($this) {
            let parameter_name = $this.id.match(/^binaryCheck-(.+)-\d+$/);
            if (parameter_name.length == 2) {
                parameter_name = parameter_name[1];
            } else {
                return
            }

            let binaryNumber = '';
            const checkBoxes = document.querySelectorAll(`.binaryCheck-${parameter_name}`)
            checkBoxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    binaryNumber += '1';
                } else {
                    binaryNumber += '0';
                }
            });
            $('#text-value-' + parameter_name).val(binaryNumber)
        }

        function set_binary_choicesbox_from_input(parameter_name) {
            const binaryValue = $('#text-value-' + parameter_name).val();

            const checkBoxes = document.querySelectorAll(`.binaryCheck-${parameter_name}`)
  
            for (let i = 0; i < Math.min(checkBoxes.length, binaryValue.length); i++) {
                const isChecked = binaryValue[i] === '1';
                $(checkBoxes[i]).prop('checked', isChecked);
            }
        }
</script>
{%- endmacro %}

{% macro render_parameter(parameter,discharge_form, zip, force_string=false, session_shot_nums=[]) -%}
{% if parameter.type in ['int', 'float'] and not force_string %}
<label>{{ parameter.title+":" if parameter.title is not none else '' }} {{ parameter.name }} </label> = 
        {{ discharge_form[parameter.full_id_name](id = "text-value-{}".format(parameter.full_id_name),
                                                         style="border:0;text-align:right;max-width:8ch;",
                                                  oninput="this.form['slider-{}'].value=this.value".format(parameter.full_id_name),
                                                  min=parameter.min, max=parameter.max, step=parameter.step) }}
        &nbsp;{{ parameter.unit or '' }}
<input type="range" id="slider-{{parameter.full_id_name}}" min="{{parameter.min}}" max="{{parameter.max}}" 
       step="{{parameter.step}}" value="{{parameter.value}}" oninput="this.form['text-value-{{parameter.full_id_name}}'].value=this.value"/>
{% elif parameter.type == 'switch' and not force_string  and discharge_form[parameter.full_id_name].__class__.__name__ != "RadioField" %}
<label>{{ parameter.title+":" if parameter.title is not none else '' }} {{ parameter.name }} = </label>
{{ discharge_form[parameter.full_id_name] }}
{% elif parameter.type == 'switch' and not force_string  %}
<fieldset>
    <label>{{ parameter.title+":" if parameter.title is not none else '' }} {{ parameter.name }} = </label>

    {% for option in discharge_form[parameter.full_id_name] %}
    {{option(class="choice-radio")}} {{option.label}}
    {% endfor %}
</fieldset>

{% elif parameter.type == 'waveform' and not force_string  %}
<label>{{ parameter.title+":" if parameter.title is not none else '' }} {{ parameter.name }} = </label> 
    {{ discharge_form[parameter.full_id_name](id = "text-value-{}".format(parameter.full_id_name), oninput="updateWaveform(this)") }}
    <button type="button" class="btn btn-default btn-sm" id="button-waveform-edit-{{parameter.full_id_name}}"
        onclick="updateWaveform(this.previousElementSibling)" data-toggle="modal" data-target="#modal-waveform-edit-{{parameter.full_id_name}}"><span class="glyphicon glyphicon glyphicon-pencil"></span> </button>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="modal-waveform-edit-{{parameter.full_id_name}}" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-waveform-edit-{{parameter.full_id_name}}-label">Waveform Editor</h4>
    </div>
    <div class="modal-body">
        <div id="plot-container-{{parameter.full_id_name}}"><canvas id="plot-canvas-{{parameter.full_id_name}}"></canvas></div>
        <br>
        {% if parameter.options |length %}
        <div class="input-group">
            <input type="text" value="" class="form-control" id="option-text-{{parameter.full_id_name}}" oninput="updateWaveform(this)">
            
            <div class="input-group-btn" id="option-select-{{parameter.full_id_name}}">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for option, alt_text in zip(parameter.options, parameter.options_alt_text) %}
                    <li><a data-tuning="{{ option }}">{{ alt_text }}</a></li>
                    {% endfor %}
                </ul>
            </div> 
        
        </div>
        {% else %}
            <input type="text" value="" class="form-control" id="option-text-{{parameter.full_id_name}}" oninput="updateWaveform(this)">
        {% endif %}

    </div>:
    </div>
</div>
</div>
 <!-- EndModal -->
{% elif parameter.type == 'binary' and not force_string  %}
<label>{{ parameter.title+":" if parameter.title is not none else ''}} {{ parameter.name }} =
    {{ discharge_form[parameter.full_id_name](id = "text-value-{}".format(parameter.full_id_name)) }}
    </label>
     <div class="input-group">
        <span class="input-group-addon">
          {% for n in range(1,parameter.length+1) %}
          {{n}}.
          <input type="checkbox" class="binaryCheck-{{parameter.full_id_name}}" 
          id="binaryCheck-{{parameter.full_id_name}}-{{n}}" name='{{n}}' 
          onclick="handleBinaryCheckbox(this)" aria-label="{{n}}"> 
          {% endfor %}
        </span>
        </div><!-- /input-group -->

{% elif parameter.type == 'shot_no' and not force_strings  %} 
    <div class="input-group">
        {{ discharge_form[parameter.full_id_name](id = "text-value-{}".format(parameter.full_id_name), class="form-control") }}
      <div class="input-group-btn" id="shotno-select-{{parameter.full_id_name}}">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a data-tuning="-1">None</a></li>
            <li role="separator" class="divider"></li>
            {% for shot_no in session_shot_nums |reverse %}
            <li><a data-tuning="{{ shot_no }}">#{{ shot_no }}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
{% else %}
<label>{{ parameter.title+":" if parameter.title is not none else '' }} {{ parameter.name }} </label> =
        {{ discharge_form[parameter.full_id_name](id = "text-value-{}".format(parameter.full_id_name), autocomplete="off") }}
        &nbsp;{{ parameter.unit or '' }}
    
{% endif %}
{%- endmacro %}