{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% from 'discharge_form.html' import form_support_scripts %}
{{ form_support_scripts() }}

<script>
        function copyDisCommandToClipboard() {
        var disCommand = "./Dirigent.sh \\\n";
        disCommand+= "--discharge --operation.discharge \"style='standard'\" \\\n";
        {% if is_session %}
            {%- for subsystem in discharge_command.subsystems.values() %}
                disCommand+= "--discharge --{{subsystem.command}} \"";
            
                {% for parameter in subsystem.parameters.values() %}
                    {%- if not subsystem.is_parameter -%}
                    disCommand+= "{{parameter.name}}="
                    {%- endif %}

                    {% if parameter.type in ['int', 'float'] or subsystem.is_parameter %}
                        disCommand+= $("#text-value-{{parameter.full_id_name}}").val();

                        {% if not loop.last %}
                        disCommand+= ",";
                        {% endif %}

                    {% elif parameter.type in ['switch'] %}
                        
                        disCommand+= "'" + getSelectedValue("{{parameter.full_id_name}}") + "'";
                        {% if not loop.last %}
                        disCommand+= ",";
                    
                        {% endif %}
        


                    {% else %}
                        disCommand+="\'";
                        disCommand+= $("#text-value-{{parameter.full_id_name}}").val();

                        {% if not loop.last %}
                            disCommand+= "\',";
                        {% else %}
                            disCommand+= "\'";
                        {% endif %}

                    {% endif %}

                {% endfor %}
                {% if not loop.last %}
                disCommand+= "\" \\\n";
                {% else %}
                disCommand+= "\"";
                {% endif %}
            
            {% endfor %}
        {% endif %}
        
        navigator.clipboard.writeText(disCommand);

    }



    $(document).ready(function () {
        $("#control-tabs").tabs();
        $('input.choice-radio').checkboxradio();
        {% if is_session %}
        {% for subsystem in discharge_command.subsystems.values() %}
        {% for parameter in subsystem.parameters.values() if parameter.type == 'binary' %}
        set_binary_choicesbox_from_input("{{parameter.full_id_name}}");
        $('#text-value-{{parameter.full_id_name}}').on('input', function() {
            set_binary_choicesbox_from_input("{{parameter.full_id_name}}");
        });
        {% endfor %}
        {% for parameter in subsystem.parameters.values() if parameter.type == 'shot_no' %}

        $('#shotno-select-{{subsystem.safe_name}}{{ parameter.name }} .dropdown-menu a').click(function () {
            $('#text-value-{{subsystem.safe_name}}{{ parameter.name }}').val($(this).data('tuning'));   
        });
        {% endfor %}

        {%- for parameter in subsystem.parameters.values() if parameter.type == 'waveform' -%}
        
        waveform_plots["{{parameter.full_id_name}}"] = create_wafeform_plot("{{parameter.full_id_name}}");

        {%- endfor -%}
        {% endfor %}
        {%endif%}

        $('#main-shotno-select .dropdown-menu a').click(function () {
            redirect($(this).data('tuning'));
        });

        document.getElementById("shotno-select-form").addEventListener("submit", function(event) {
            event.preventDefault(); 
            // Get the user-entered number
            var sno = document.getElementById("main-shotno-input").value;

            var redirectURL = '{{url_for("full_control_room")}}' + sno;
            window.location.href = redirectURL;
        });
        
        });

        function redirect(where) {
            if (where){
                window.location = '{{url_for("full_control_room")}}' + where;
            } else {
                window.location = '{{url_for("full_control_room")}}' + document.getElementByID('main-shotno-input').value;
            }
        }

</script>

{% endblock %}

{% block container_div %}<div class="container">{% endblock %}
{% block content %}
{% from 'discharge_form.html' import render_parameter %}
{% if not is_session %}
<div class="alert alert-warning" role="alert">There is no currently running session on GOLEM tokamak.</div>
{% else %}
<form id="shotno-select-form">
    <div class="input-group input-group-lg has-feedback">
        <span class="input-group-addon" id="basic-addon1">Shot no.:</span>
        <input type="text" class="form-control" id="main-shotno-input" name="shotNo"
            value="{{shot_no}}"
            pattern="^(#?0|#?[1-9]\d{4}|Master|Vac|Vacuum)$" title="Use valid shot number or 'Master' or 'Vacuum'." required>
        <div class="input-group-btn" id="main-shotno-select">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a data-tuning="Master" href="Master">Session Master</a></li>
                    <li><a data-tuning="Vacuum" href="Vacuum">Vacuum Discharge</a></li>
                    <li role="separator" class="divider"></li>
                    {% for shot_no in session_shot_nums  %}
                    <li><a data-tuning="{{ shot_no }}" href="{{ shot_no }}">#{{ shot_no }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- #main-shotno-select -->
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" onsubmit="formRedirect('');return false">Select</button>
        </span>
    </div><!-- /input-group -->
{% if submit_success %}

<div class="alert alert-success" role="alert">
    <span class="text-primary">Discharge Submitted.</span>
    <p>
        After submission you can <a href="{{ url_for('status') }}" target="_blank">watch the discharge Live</a> (new tab). 
        Or you can just reconfigure the discharge and then submit another request.
    </p>
</div>
{% endif %}
</form>

<br>
<form id="discharge-form" method="POST" onkeydown="return event.key != 'Enter';">
{{ discharge_form.hidden_tag() }}
{% for subsystem in discharge_command.subsystems.values() %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {%- if subsystem.known and subsystem.title is not none -%}
            {{ subsystem.title }} ({{ subsystem.command }})
            {%- else -%}
            {{ subsystem.command }}
            {%- endif -%}
        </h3>
    </div>
    <div class="panel-body">
        {% if not subsystem.known %} 
                <div class="alert alert-warning" role="alert">This sub-command is not recognized. Please be careful when entering values.</div>
        {%endif%}
        {% for parameters_batched in subsystem.parameters.values() | batch(2) %}
        <div class="row">
            {% for parameter in parameters_batched %}
            <div class="col-md-6">
                
               
                {{ render_parameter(parameter, discharge_form, zip, force_string_params, session_shot_nums) }}

                {% for error in discharge_form[parameter.full_id_name].errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {%endfor%}
            </div> <!-- col-md-6 -->
            {%endfor%}
        </div> <!-- row -->

        {% endfor %}
    </div> <!-- panel-body -->
</div>  <!-- panel -->
{% endfor %}


<div class="btn-group btn-group-justified" role="group">
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-lg" onclick="copyDisCommandToClipboard()" data-toggle="tooltip" data-placement="top" title="Validity is not checked.">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Copy command to clipboard
      </button> 
</div>
<div class="btn-group" role="group">
{{ discharge_form.submit(class="btn btn-primary btn-lg") }}
</div>
</div>



</form>
{% endif %}
<br>

<footer class="text-center text-white">
  
    <div class="text-center">
        <hr>
    <p>
    <span style="display:inline-block; vertical-align:middle; horizontal-align:right">
        Found an error? Please report bugs at:
    <a href="https://gitlab.com/golem-tokamak/dirigent">The tokamak GOLEM controll SW @ <img src="https://golem.fjfi.cvut.cz/_static/logos/GitLab.png" width="70px"></a></span></p>
    </div>
  </footer>


{% endblock content %}
