{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
     var w_gauge = 100;
     var h_gauge = 120;
     function Gauge (max, majorTicks) {
         return {
             range_offset: Math.round(0.05 * max),
             options: {width: w_gauge, height: h_gauge, max: max, majorTicks: majorTicks,
                       redFrom: max - 2*majorTicks, redTo: max}
         }
     }
     var gaugeBt = Gauge(1350, 50);
     var gaugeCD = Gauge(1350, 50);
     var gaugePressure = Gauge(100, 5);
     function drawGauge(gauge, value, targetValue) {
         gauge.data.setValue(0, 1, value);
         if (targetValue > 0) {

             gauge.options.greenFrom = targetValue - gauge.range_offset;
             gauge.options.greenTo = targetValue + gauge.range_offset;
         } else {
             gauge.options.greenFrom = NaN;
             gauge.options.greenTo = NaN;
         }
         gauge.widget.draw(gauge.data, gauge.options);
     }
     var interval_handle;
     var golem_status;
     var human_statuses = {};
     human_statuses['idle']= 'The machine is idle';
     human_statuses['PingCheck@Everywhere'] = 'Initializing discharge sequence';
     human_statuses['PrepareDischargeEnv@SHM@Everywhere'] = 'Initializing discharge sequence';
     human_statuses['GetReadyTheDischarge@Everywhere'] = 'Charging capacitors, setting working gas pressure';
     human_statuses['Arming@Everywhere'] = 'Charging complete, waiting for final discharge trigger';
     human_statuses['SecurePostDischargeState@Everywhere'] = 'Discharge executed, deactivating systems';
     human_statuses['PostDischargeAnalysis@DischargeBasicManagement'] = 'Generating basic WWW discharge results report';
     human_statuses['PostDischargeAnalysis@OnStage_wave'] = 'Generating On Stage WWW discharge results report';
     human_statuses['PostDischargeAnalysis@Others_wave'] = 'Generating remaining WWW discharge results report';

     google.charts.load('current', {'packages': ['gauge']});
     google.charts.setOnLoadCallback(function () {
         function createDataTable(label, value) {
             return google.visualization.arrayToDataTable([['Label', 'Value'], [label, value]]);
         }
         gaugeBt.widget = new google.visualization.Gauge($("div #mag-tor-cap-gauge")[0]);
         gaugeBt.data = createDataTable('V', 0);
         gaugeCD.widget = new google.visualization.Gauge($('div #mag-cd-cap-gauge')[0]);
         gaugeCD.data = createDataTable('V', 0);
         gaugePressure.widget = new google.visualization.Gauge($('div #gas-pressure-gauge')[0]);
         gaugePressure.data = createDataTable('mPa', 0);

         interval_handle = setInterval(function () {
             $.getJSON('https://golem.fjfi.cvut.cz/current_status.json',
                       function (data, textStatus, jqXHR) {
                           if (true) {
                               drawGauge(gaugeBt, Number.parseFloat(data.U_Bt), Number(data.discharge_params.UBt));
                               drawGauge(gaugeCD, Number.parseFloat(data.U_CD), Number(data.discharge_params.Ucd));
                               drawGauge(gaugePressure, Number.parseFloat(data.p_ch), Number(data.discharge_params.pressure));
                               if (data.discharge_params.gas === undefined)
                                   $('#gas-type-text').text('None');
                               else
                                   $('#gas-type-text').html(data.discharge_params.gas + '<sub>2</sub>');
                           }
                           if (data.tokamak_state !== golem_status) {
                               $('#status-info').fadeTo('fast', 0).text(human_statuses[data.tokamak_state] ? human_statuses[data.tokamak_state] : data.tokamak_state).fadeTo('fast', 1);
                               golem_status = data.tokamak_state;
                           }
                       }
             );
             $.getJSON('{{ url_for('queue') }}',
                       function (data, textStatus, jqXHR) {
                           var table = $('tbody#queue');
                           table.empty();
                           console.log(data);
                           data.queue.forEach(function (item) {
                               var tr = '<tr';
                               if (item.status === 1)
                               {
                                   tr = tr + ' class="info"';
                                   status = "In progress";
                               } else {
                                   status = "Waiting";
                               }
                               tr = tr + '><td>' + status + '</td><td>' + item.identification + '</td><td>'+ item.comment + '</td><td>' + item.ub.toString() + '</td><td>' + item.ucd.toString() + '</td><td>'+ item.h2.toString() + ' (' + item.gas + ')</td></tr>';
                               table.append(tr);
                           });
                       }
             );
         }, 1000);
     });
    </script>
    {% endblock %}


    {% block navbar %}
    {% if not for_video_status %}
    {{ super() }}
    {% endif %}
    {% endblock navbar %}

    {% block container_div %}{%if for_video_status %}<div class="container-fluid">{% else %}{{ super() }}{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
                <div id="expsetup" style="position: relative; left: 0px; top: 0px;">
                    <img src="{{ url_for('static', filename='img/expsetup_basic_intro.png') }}" alt="GOLEM tokamak schematic" width="100%" />
                    <div id="mag-tor-cap" style="position: absolute; left: 78%; top: 17%;">
                        <div id="mag-tor-cap-gauge"></div>
                    </div>
                    <div id="mag-cd-cap" style="position: absolute; left: 81%; top: 70%;">
                        <div id="mag-cd-cap-gauge"></div>
                    </div>
                    <div id="gas-pressure" style="position: absolute; left: 10%; top: 53%;">
                        <div id="gas-pressure-gauge"></div>
                    </div>
                    <div id="gas-type" class="well well-sm" style="position: absolute; left: 25%; top: 82%; width: 8%;">
                        <span id="gas-type-text">?</span>
                    </div>
                </div>
        </div>
                    <div class="col-sm-5">
                        <div id="status-info" class="alert alert-info">Initializing Live status app</div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Tokamak Live camera</div>
                            <div class="panel-body">
                                <div class="embed-responsive embed-responsive-{% if for_video_status %}4by3{% else %}16by9{% endif %}">
                                    {% if not for_video_status %}
                                    <iframe class="embed-responsive-item" id="ytplayer" type="text/html"
                                            src="https://www.youtube.com/embed/Tt30kYSk0c4?autoplay=1&controls=0&playlist=Tt30kYSk0c4&loop=1"></iframe>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    {% if not for_video_status %}
                    <div class="panel-heading">Discharge request queue</div>
                    {% endif %}
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>User</th>
                                    <th>Comment</th>
                                    <th>U<sub>B<sub>t</sub></sub> [V]</th>
                                    <th>U<sub>E<sub>t</sub></sub> [V]</th>
                                    <th>gas [mPa]</th>
                                </tr>
                            </thead>
                            <tbody id="queue">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
{% endblock content %}


