{% extends "layout.html" %}

{% block head %}
    {{ super() }}

<script>
  function loadFullQueue () {
                   $.getJSON('{{ url_for('queue') }}',
                       function (data, textStatus, jqXHR) {
                           $("table#full-queue").fadeIn();
                           var table = $('tbody#queue');
                           table.empty();
                           console.log(data);
                           data.queue.forEach(function (item) {
                               var tr = '<tr';
                               if (item.status === 1)
                               {
                                   tr = tr + ' class="info"';
                                   status = "In progress";
                               } else {
                                   status = "Waiting";
                               }
                               tr = tr + '><td>' + status + '</td><td>' + item.identification + '</td><td>'+ item.comment + '</td><td>' + item.ub.toString() + '</td><td>' + item.ucd.toString() + '</td><td>'+ item.h2.toString() + ' (' + item.gas + ')</td></tr>';
                               table.append(tr);
                           });
                       }
                            );
  }
  </script>
{% endblock %}

{% block content %}
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="ytplayer" type="text/html"
            src="https://www.youtube.com/embed/{{ video_id }}?autoplay=1&controls=1&playlist={{ video_id }}&loop=1"></iframe>
</div>
<br>

<p><button class="btn btn-primary" onclick="loadFullQueue()">Load full queue snapshot</button> Note: not automatically synchronized to Live stream, may load slowly.</p>

<table class="table table-hover" style="display:none;" id="full-queue">
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Comment</th>
      <th>U<sub>B<sub>t</sub></sub> [V]</th>
      <th>U<sub>E<sub>t</sub></sub> [V]</th>
      <th>gas [mPa]</th>
    </tr>
  </thead>
  <tbody id="queue">
  </tbody>
</table>
{% endblock %}
