
{% macro tree2ul(root) %}
{% if 'children' in root %}
{{ root.name }}
<ul>
  {% for obj in root.children %}
  <li>{{ tree2ul(obj) }}</li>
  {% endfor %}
</ul>
{% else %}
<a href="{{ root.url }}">{{ root.name }}</a>
{% endif %}
{% endmacro %}

{{ tree2ul(tree) }}
